##
## @author Jose Alvarez-Ruiz <jose.alvarez-ruiz@fu-berlin.de>
## @date   March 2016
##


base_controller:
  type        : "diff_drive_controller/DiffDriveController"
  left_wheel  : 'rear_left_wheel'
  right_wheel : 'rear_right_wheel'
  publish_rate:  50
  enable_odom_tf: true
  pose_covariance_diagonal : [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 10.0]
  twist_covariance_diagonal: [10.0, 0.00001, 1000000.0, 1000000.0, 1000000.0, 10.0]

  velocity_rolling_window_size: 10
  # Wheel separation and diameter. These are both optional.
  # diff_drive_controller will attempt to read either one or both from the URDF
  # if not specified as a parameter
  
  wheel_separation : 0.564
  wheel_radius : 0.175 # m

  # Wheel separation and radius multipliers
  wheel_separation_multiplier: 1.0 # default: 1.0
  wheel_radius_multiplier    : 1.0 # default: 1.0

  # Velocity commands timeout [s], default 0.5
  cmd_vel_timeout: 0.2

  # Base frame_id
  base_frame_id: base_footprint

  # Velocity and acceleration limits
  # Whenever a min_* is unspecified, default to -max_*
  linear:
    x:
      has_velocity_limits    : true
      max_velocity           : 0.5  # m/s
      min_velocity           : -0.0 # m/s
      has_acceleration_limits: false
      max_acceleration       : 0.2  # m/s^2
      min_acceleration       : -0.2 # m/s^2
  angular:
    z:
      has_velocity_limits    : true
      max_velocity           : 0.5  # rad/s
      has_acceleration_limits: false
      max_acceleration       : 0.2  # rad/s^2
      min_acceleration       : -1

  # Controller type can be changed by nulling gains of undesired terms in the
  # controller. For example, to get a PI controller, set p and i different to
  # zero and d= 0. i_clamp_max and i_clamp_min are the upper- and lower-limits of the integral
  # term of the controller, respectively. Omitted parameters default to 0.0.
  #
  # The angular and linear PID controllers transform the wheel velocity error
  # into joystick commands usable by the Xeno wheelchar.
  pid:
    linear:
      p: 1000.0
      i: 0.0
      d: 000.0
      i_clamp_max: 0
      i_clamp_min: 0
    angular:
      p: 6000.0
      i: 0.0
      d: 0000.0
      i_clamp_max: 0
      i_clamp_min: 0
